#include <behavior/{{behavior}}/{{behavior}}_nodelet.h>

PLUGINLIB_EXPORT_CLASS(parsian_ai::{{Tbehavior}}Nodelet, nodelet::Nodelet);

using namespace parsian_ai;

void {{Tbehavior}}Nodelet::onInit() {

    ros::NodeHandle& nh = getNodeHandle();
    ros::NodeHandle& private_nh = getPrivateNodeHandle();
    {{behavior}}.reset(new Behavior{{Tbehavior}}());

    drawer = new Drawer();
    debugger = new Debugger();

    worldModelSub = nh.subscribe("/world_model", 1000, &{{Tbehavior}}Nodelet::worldModelCallBack, this);
    robotStatusSub = nh.subscribe("/robot_status", 1000, &{{Tbehavior}}Nodelet::robotStatusCallBack, this);

    refereeSub = nh.subscribe("/referee", 1000,  &{{Tbehavior}}Nodelet::refereeCallBack, this);

    drawPub = nh.advertise<parsian_msgs::parsian_draw>("/draws", 1000);
    debugPub = nh.advertise<parsian_msgs::parsian_debugs>("/debugs", 1000);
    timer_ = nh.createTimer(ros::Duration(.062), boost::bind(&{{Tbehavior}}Nodelet::timerCb, this, _1));

    //config server settings
    server.reset(new dynamic_reconfigure::Server<ai_config::{{behavior}}Config>(private_nh));
    dynamic_reconfigure::Server<ai_config::{{behavior}}Config>::CallbackType f;
    f = boost::bind(&{{Tbehavior}}Nodelet::ConfigServerCallBack,this, _1, _2);
    server->setCallback(f);

}

void {{Tbehavior}}Nodelet::timerCb(const ros::TimerEvent& event) {

    if (drawer != nullptr)   drawPub.publish(drawer->draws);
//    if (debugger != nullptr) debugPub.publish(debugger->debugs);

    drawer->draws.texts.clear();
    drawer->draws.circles.clear();
    drawer->draws.segments.clear();
    drawer->draws.vectors.clear();
    drawer->draws.rects.clear();

//    debugger->debugs.clear();

}

void {{Tbehavior}}Nodelet::worldModelCallBack(const parsian_msgs::parsian_world_modelConstPtr &_wm) {
    {{behavior}}->updateWM(_wm);
}

void {{Tbehavior}}Nodelet::refereeCallBack(const parsian_msgs::ssl_refree_wrapperConstPtr & _ref) {

    {{behavior}}->updateReferee(_ref);
}

void {{Tbehavior}}Nodelet::ConfigServerCallBack(const ai_config::{{behavior}}Config &config, uint32_t level) {
}

void robotStatusCallBack(const parsian_msgs::parsian_robots_statusConstPtr& _rs) {

}
