#!/usr/bin/env python
from dynamic_reconfigure.parameter_generator_catkin import *
PACKAGE = 'ai_config'


generator = ParameterGenerator()

# _GROUP_TYPES = {
#    '': 'BoxGroup',
#    'collapse': 'CollapseGroup',
#    'tab': 'TabGroup',
#    'hide': 'HideGroup',
#    'apply': 'ApplyGroup',
# }

# conf = generator.add_group("Conf", state = True, type = 'tab')
# conf.add("conf1", bool_t  , 0, "conf1 discrib.", False) #default
# conf.add("conf2", int_t   , 0, "conf2 discrib.", 0, 0, 11) #default, min, max
# conf.add("conf3", double_t, 0, "conf4 discrib.", 0, 0, 11) #default, min, max

exit(generator.generate(PACKAGE, "ai_config", "{{behavior}}"))
