#include <parsian_ai/util/behavior{{behavior}}.h>

Behavior{{Tbehavior}}::Behavior{{Tbehavior}}()
: Behavior({{behavior}}, {{behavior_description}}) {

}

Behavior{{Tbehavior}}::~Behavior{{Tbehavior}}() {

}

int Behavior{{Tbehavior}}::execute() {
    return 0;
}

double Behavior{{Tbehavior}}::eval() {
    return 0.0;
}