#include <parsian_ai/behaviors/{{behavior}}.h>

Behavior{{Tbehavior}}::Behavior{{Tbehavior}}()
: Behavior("{{Tbehavior}}", "{{behavior_description}}") {

}

Behavior{{Tbehavior}}::~Behavior{{Tbehavior}}() {

}

int Behavior{{Tbehavior}}::execute() {
    return 0;
}

double Behavior{{Tbehavior}}::eval() {
    return 0.0;
}