#ifndef BEHAVIOR{{UCbehavior}}_H
#define BEHAVIOR{{UCbehavior}}_H

#include<parsian_ai/util/behavior.h>

class Behavior{{Tbehavior}}: public Behavior {

public:
    Behavior{{Tbehavior}}();
    virtual ~Behavior{{Tbehavior}}();
    virtual int execute() = 0;
    virtual double eval() = 0;
};

#endif // BEHAVIOR{{UCbehavior}}_H
