#ifndef BEHAVIOR{{UCbehavior}}_H
#define BEHAVIOR{{UCbehavior}}_H

#include<parsian_ai/util/behavior.h>

class Behavior{{Tbehavior}}: public Behavior {

public:
    Behavior{{Tbehavior}}();
    virtual ~Behavior{{Tbehavior}}();
    virtual int execute();
    virtual double eval(parsian_msgs::parsian_behaviorPtr _behav);
};

#endif // BEHAVIOR{{UCbehavior}}_H
