<library path="lib/lib{{behavior}}_nodelet">
    <class name="parsian_ai/{{Tbehavior}}Nodelet" type="parsian_ai::{{Tbehavior}}Nodelet" base_class_type="nodelet::Nodelet">
        <description>
            just another behavior for parsian ssl
        </description>
    </class>
</library>
