<launch>

    <node pkg="nodelet" type="nodelet" name="all_nodelet"  args="manager" output="screen"/>
    <!--<node pkg="nodelet" type="nodelet" name="ai" 	   args="load parsian_ai/AINodelet                 all_nodelet" output="screen"/>-->
    <node pkg="nodelet" type="nodelet" name="agent0"   args="load parsian_agent/AgentNodelet               all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="grsim"    args="load parsian_protobuf_wrapper/GrsimNodelet    all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="vision"   args="load parsian_protobuf_wrapper/VisionNodelet   all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="wm"  	   args="load parsian_world_model/WMNodelet            all_nodelet" output="screen"/>
    <!--<node pkg="nodelet" type="nodelet" name="packet"   args="load parsian_packet/PacketNodelet             all_nodelet" output="screen"/>-->
    <!--<node pkg="nodelet" type="nodelet" name="com"  	   args="load parsian_communication/CommunicationNodelet   all_nodelet" output="screen"/>-->

</launch>
