<launch>
<rosparam command="load" file="$(find parsian_world_model)/param/field.yaml" />

<node name="agent00" 		pkg="parsian_agent"            type="parsian_agent_node"  respawn="true" />
<node name="agent01" 		pkg="parsian_agent"            type="parsian_agent_node"  respawn="true" />
<node name="agent02" 		pkg="parsian_agent"            type="parsian_agent_node"  respawn="true" />
<node name="agent03" 		pkg="parsian_agent"            type="parsian_agent_node"  respawn="true" />
<node name="agent04" 		pkg="parsian_agent"            type="parsian_agent_node"  respawn="true" />
<node name="agent05" 		pkg="parsian_agent"            type="parsian_agent_node"  respawn="true" />
<node name="agent06" 		pkg="parsian_agent"            type="parsian_agent_node"  respawn="true" />
<node name="agent07" 		pkg="parsian_agent"            type="parsian_agent_node"  respawn="true" />
<node name="agent08" 		pkg="parsian_agent"            type="parsian_agent_node"  respawn="true" />
<node name="agent09" 		pkg="parsian_agent"            type="parsian_agent_node"  respawn="true" />
<node name="agent10" 		pkg="parsian_agent"            type="parsian_agent_node"  respawn="true" />
<node name="agent11" 		pkg="parsian_agent"            type="parsian_agent_node"  respawn="true" />

<node name="worldmodel" pkg="parsian_world_model"      type="parsian_world_model_node"  respawn="true" />
<node name="vision"		pkg="parsian_protobuf_wrapper" type="parsian_protobuf_wrapper_vision_node"  respawn="true" />
<!-- <node name="grssim" 	pkg="parsian_protobuf_wrapper" type="parsian_protobuf_wrapper_refbox_node"  respawn="true" /> -->
<node name="refbox" 	pkg="parsian_protobuf_wrapper" type="parsian_protobuf_wrapper_grsim_node"  respawn="true" />
 </launch>