<launch>
<rosparam command="load" file="$(find parsian_world_model)/param/field.yaml" />

<node name="com_agent" 		pkg="parsian_agent"            type="parsian_agent_commonconfig_node"  respawn="true" />

<node name="agent00" 		pkg="parsian_agent"            type="parsian_agent_node"  respawn="true" />
<node name="agent01" 		pkg="parsian_agent"            type="parsian_agent_node"  respawn="true" />
<node name="agent02" 		pkg="parsian_agent"            type="parsian_agent_node"  respawn="true" />
<node name="agent03" 		pkg="parsian_agent"            type="parsian_agent_node"  respawn="true" />
<node name="agent04" 		pkg="parsian_agent"            type="parsian_agent_node"  respawn="true" />
<node name="agent05" 		pkg="parsian_agent"            type="parsian_agent_node"  respawn="true" />
<node name="agent06" 		pkg="parsian_agent"            type="parsian_agent_node"  respawn="true" />
<node name="agent07" 		pkg="parsian_agent"            type="parsian_agent_node"  respawn="true" />
<node name="agent08" 		pkg="parsian_agent"            type="parsian_agent_node"  respawn="true" />
<node name="agent09" 		pkg="parsian_agent"            type="parsian_agent_node"  respawn="true" />
<node name="agent10" 		pkg="parsian_agent"            type="parsian_agent_node"  respawn="true" />
<node name="agent11" 		pkg="parsian_agent"            type="parsian_agent_node"  respawn="true" />

<node name="worldmodel" pkg="parsian_world_model"      type="parsian_world_model_node"  respawn="true" />
<!--<node name="packet"     pkg="parsian_communication"	   type="packet"  respawn="true" />-->
<!--<node name="comm"       pkg="parsian_communication"    type="com" respawn="true" />-->
<node name="vision"		pkg="parsian_protobuf_wrapper" type="vision"  respawn="true" />
<node name="refbox" 		pkg="parsian_protobuf_wrapper" type="refbox"  respawn="true" />
<node name="grsim" 	pkg="parsian_protobuf_wrapper" type="grsim"  respawn="true" />
 </launch>
