<launch>
    <rosparam command="load" file="$(find parsian_world_model)/param/field.yaml" />
    <node pkg="nodelet" type="nodelet" name="all_nodelet"  args="manager" output="screen"/>
    <!--<node pkg="nodelet" type="nodelet" name="ai" 	   args="load parsian_ai/AINodelet                 all_nodelet" output="screen"/>-->

    <node pkg="nodelet" type="nodelet" name="common_config_node"   args="load parsian_agent/CommonConfig            all_nodelet" output="screen"/> 

    <node pkg="nodelet" type="nodelet" name="agent00"   args="load parsian_agent/AgentNodelet               all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="agent01"   args="load parsian_agent/AgentNodelet               all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="agent02"   args="load parsian_agent/AgentNodelet               all_nodelet" output="screen"/> 
    <node pkg="nodelet" type="nodelet" name="agent03"   args="load parsian_agent/AgentNodelet               all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="agent04"   args="load parsian_agent/AgentNodelet               all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="agent05"   args="load parsian_agent/AgentNodelet               all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="agent06"   args="load parsian_agent/AgentNodelet               all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="agent07"   args="load parsian_agent/AgentNodelet               all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="agent08"   args="load parsian_agent/AgentNodelet               all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="agent09"   args="load parsian_agent/AgentNodelet               all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="agent10"   args="load parsian_agent/AgentNodelet               all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="agent11"   args="load parsian_agent/AgentNodelet               all_nodelet" output="screen"/>

    <node pkg="nodelet" type="nodelet" name="planner00"   args="load parsian_agent/PlannerNodelet           all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="planner01"   args="load parsian_agent/PlannerNodelet           all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="planner02"   args="load parsian_agent/PlannerNodelet           all_nodelet" output="screen"/> 
    <node pkg="nodelet" type="nodelet" name="planner03"   args="load parsian_agent/PlannerNodelet           all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="planner04"   args="load parsian_agent/PlannerNodelet           all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="planner05"   args="load parsian_agent/PlannerNodelet           all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="planner06"   args="load parsian_agent/PlannerNodelet           all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="planner07"   args="load parsian_agent/PlannerNodelet           all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="planner08"   args="load parsian_agent/PlannerNodelet           all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="planner09"   args="load parsian_agent/PlannerNodelet           all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="planner10"   args="load parsian_agent/PlannerNodelet           all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="planner11"   args="load parsian_agent/PlannerNodelet           all_nodelet" output="screen"/>

    <node pkg="nodelet" type="nodelet" name="grsim"    args="load parsian_protobuf_wrapper/GrsimNodelet    all_nodelet" output="screen" />  
    <node pkg="nodelet" type="nodelet" name="vision"   args="load parsian_protobuf_wrapper/VisionNodelet   all_nodelet" output="screen"  />
    <node pkg="nodelet" type="nodelet" name="worldmodel"  	   args="load parsian_world_model/WMNodelet            all_nodelet" output="screen"  />
   <!-- <node pkg="nodelet" type="nodelet" name="packet"   args="load parsian_packet/PacketNodelet             all_nodelet" output="screen" />-->
   <!-- <node pkg="nodelet" type="nodelet" name="comm"  	   args="load parsian_communication/CommunicationNodelet   all_nodelet" output="screen" />-->

</launch>
