<launch>
    <rosparam command="load" file="$(find parsian_world_model)/param/field.yaml" />
    <node pkg="nodelet" type="nodelet" name="all_nodelet"  args="manager" output="screen"/>
    <!--<node pkg="nodelet" type="nodelet" name="ai" 	   args="load parsian_ai/AINodelet                 all_nodelet" output="screen"/>-->

    <node pkg="nodelet" type="nodelet" name="commonconfig"   args="load parsian_agent/CommonConfig            all_nodelet" output="screen"/> 

    <node pkg="nodelet" type="nodelet" name="agent_0"   args="load parsian_agent/AgentNodelet               all_nodelet" output="screen"/>
<!--    <node pkg="nodelet" type="nodelet" name="agent_1"   args="load parsian_agent/AgentNodelet               all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="agent_2"   args="load parsian_agent/AgentNodelet               all_nodelet" output="screen"/> 
    <node pkg="nodelet" type="nodelet" name="agent_3"   args="load parsian_agent/AgentNodelet               all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="agent_4"   args="load parsian_agent/AgentNodelet               all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="agent_5"   args="load parsian_agent/AgentNodelet               all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="agent_6"   args="load parsian_agent/AgentNodelet               all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="agent_7"   args="load parsian_agent/AgentNodelet               all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="agent_8"   args="load parsian_agent/AgentNodelet               all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="agent_9"   args="load parsian_agent/AgentNodelet               all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="agent_10"   args="load parsian_agent/AgentNodelet               all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="agent_11"   args="load parsian_agent/AgentNodelet               all_nodelet" output="screen"/>

-->
    <node pkg="nodelet" type="nodelet" name="planner_0"   args="load parsian_agent/PlannerNodelet           all_nodelet" output="screen"/>
<!--    <node pkg="nodelet" type="nodelet" name="planner_1"   args="load parsian_agent/PlannerNodelet           all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="planner_2"   args="load parsian_agent/PlannerNodelet           all_nodelet" output="screen"/> 
    <node pkg="nodelet" type="nodelet" name="planner_3"   args="load parsian_agent/PlannerNodelet           all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="planner_4"   args="load parsian_agent/PlannerNodelet           all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="planner_5"   args="load parsian_agent/PlannerNodelet           all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="planner_6"   args="load parsian_agent/PlannerNodelet           all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="planner_7"   args="load parsian_agent/PlannerNodelet           all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="planner_8"   args="load parsian_agent/PlannerNodelet           all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="planner_9"   args="load parsian_agent/PlannerNodelet           all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="planner_10"   args="load parsian_agent/PlannerNodelet           all_nodelet" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="planner_11"   args="load parsian_agent/PlannerNodelet           all_nodelet" output="screen"/>
-->
    
    <node pkg="nodelet" type="nodelet" name="latency"    args="load parsian_tools/Latency    all_nodelet" output="screen" />
    <node pkg="nodelet" type="nodelet" name="grsim"    args="load parsian_protobuf_wrapper/GrsimNodelet    all_nodelet" output="screen" />  
    <node pkg="nodelet" type="nodelet" name="vision"   args="load parsian_protobuf_wrapper/VisionNodelet   all_nodelet" output="screen"  />
    <node pkg="nodelet" type="nodelet" name="worldmodel"  	   args="load parsian_world_model/WMNodelet            all_nodelet" output="screen"  />
   <!-- <node pkg="nodelet" type="nodelet" name="packet"   args="load parsian_packet/PacketNodelet             all_nodelet" output="screen" />-->
   <!-- <node pkg="nodelet" type="nodelet" name="comm"  	   args="load parsian_communication/CommunicationNodelet   all_nodelet" output="screen" />-->

</launch>
