<launch>
<rosparam command="load" file="$(find parsian_world_model)/param/field.yaml" />
<node name="agent" 		pkg="parsian_agent"            type="parsian_agent_node"  respawn="true" />
<node name="worldmodel" pkg="parsian_world_model"      type="worldmodel_node"  respawn="true" />
<node name="packet"     pkg="parsian_communication"	   type="parsian_communication_packet_node"  respawn="true" />
<node name="comm"       pkg="parsian_communication"    type="parsian_communication_node" respawn="true" />
<node name="vision"		pkg="parsian_protobuf_wrapper" type="vision_node"  respawn="true" />
<!-- <node name="grssim" 	pkg="parsian_protobuf_wrapper" type="refbox_node"  respawn="true" /> -->
<!-- <node name="refbox" 	pkg="parsian_protobuf_wrapper" type="grsim_node"  respawn="true" /> -->
 </launch>